/* designing a simple vertical navbar */
body {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: #f1f1f1;
}

li {
    text-align: center;
}


li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

li a:hover {
    background-color: #555;
    color: white;
}



